apiVersion: apps/v1
kind: Deployment
metadata:
  name: account-service
  namespace: novax
spec:
  replicas: 3
  selector:
    matchLabels:
      app: account-service
  template:
    metadata:
      labels:
        app: account-service
    spec:
      containers:
      - name: account-service
        image: novax/account-service:latest
        ports:
        - containerPort: 8081
        env:
        - name: SPRING_PROFILES_ACTIVE
          value: "prod"
        - name: NACOS_SERVER_ADDR
          valueFrom:
            configMapKeyRef:
              name: novax-config
              key: nacos.server-addr
        - name: MYSQL_HOST
          valueFrom:
            configMapKeyRef:
              name: novax-config
              key: mysql.host
        - name: MYSQL_USERNAME
          valueFrom:
            secretKeyRef:
              name: novax-secret
              key: mysql-username
        - name: MYSQL_PASSWORD
          valueFrom:
            secretKeyRef:
              name: novax-secret
              key: mysql-password
---
apiVersion: v1
kind: Service
metadata:
  name: account-service
  namespace: novax
spec:
  selector:
    app: account-service
  ports:
  - protocol: TCP
    port: 8081
    targetPort: 8081
  type: ClusterIP
