server:
  port: 8082

spring:
  application:
    name: station-service
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
        namespace: dev
  datasource:
    url: jdbc:mysql://localhost:3306/nova_x_station?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai
    username: root
    password: Nova@X2026
